.tbl-select-status{
    border:none;
    background-color:transparent;
}

.user-table{
    padding-top: 4.5rem
}

.table td .badge, .jsgrid .jsgrid-table td .badge {
    margin-bottom: 0;
}
.badge {
    border-radius: 20px;
    font-size: 12px;
    line-height: 1;
    padding: 0.375rem 0.5625rem;
    font-weight: normal;
}
.badge-success, .preview-list .preview-item .preview-thumbnail .badge.badge-online {
    color: #fff;
    background-color: #57B657;
}